@model bestBuild.Models.Cart

<section class="h-100" style="background-color: #d2c9ff;">
    <div class="container py-6 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="d-flex justify-content-between align-items-center mb-4">
                                        <h2 class="fw-bold mb-0 text-black">Оформление заказа</h2>
                                        <h6 class="mb-0 text-muted">Количество: @Model.Count</h6>
                                    </div>
                                    <div class="col-12">
                                        <form>
                                            <!-- 2 column grid layout with text inputs for the first and last names -->
                                            <div class="row mb-4">
                                                <div class="col">
                                                    <div class="form-outline">
                                                        <input type="text" id="form6Example1" class="form-control" />
                                                        <label class="form-label" for="form6Example1">First name</label>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-outline">
                                                        <input type="text" id="form6Example2" class="form-control" />
                                                        <label class="form-label" for="form6Example2">Last name</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Text input -->
                                            <div class="form-outline mb-4">
                                                <input type="text" id="form6Example3" class="form-control" />
                                                <label class="form-label" for="form6Example3">Company name</label>
                                            </div>

                                            <!-- Text input -->
                                            <div class="form-outline mb-4">
                                                <input type="text" id="form6Example4" class="form-control" />
                                                <label class="form-label" for="form6Example4">Address</label>
                                            </div>

                                            <!-- Email input -->
                                            <div class="form-outline mb-4">
                                                <input type="email" id="form6Example5" class="form-control" />
                                                <label class="form-label" for="form6Example5">Email</label>
                                            </div>

                                            <!-- Number input -->
                                            <div class="form-outline mb-4">
                                                <input type="number" id="form6Example6" class="form-control" />
                                                <label class="form-label" for="form6Example6">Phone</label>
                                            </div>

                                            <!-- Message input -->
                                            <div class="form-outline mb-4">
                                                <textarea class="form-control" id="form6Example7" rows="4"></textarea>
                                                <label class="form-label" for="form6Example7">Additional
                                                    information</label>
                                            </div>

                                            <!-- Checkbox -->
                                            <div class="form-check d-flex justify-content-center mb-4">
                                                <input class="form-check-input me-2" type="checkbox" value=""
                                                    id="form6Example8" checked />
                                                <label class="form-check-label" for="form6Example8"> Create an account?
                                                </label>
                                            </div>

                                            <!-- Submit button -->
                                            <button type="submit" class="btn btn-primary btn-block mb-4">Place
                                                order</button>
                                        </form>
                                    </div>
                                    @foreach (var item in @Model.Items)
                                    {

                                        <hr class="my-4">

                                        <div class="row mb-4 d-flex justify-content-between align-items-center">
                                            <div class="col-md-2 col-lg-2 col-xl-2">
                                                <img src="~/Images/Products/@item.Value.Product.Image"
                                                class="img-fluid rounded-3" alt="Cotton T-shirt">
                                            </div>
                                            <div class="col-md-3 col-lg-3 col-xl-3">
                                                <h6 class="text-muted">Наименование товара</h6>
                                                <h6 class="text-black mb-0">@item.Value.Product.Name</h6>
                                            </div>
                                            <div class="col-md-3 col-lg-3 col-xl-3">

                                                <div class=" d-flex justify-content-between align-items-center">
                                                    <button class="btn btn-link px-2">
                                                        <i class="fas fa-minus"></i>
                                                    </button>
                                                    <h6 class="text-black mb-0">@item.Value.Quantity</h6>
                                                    <button class="btn btn-link px-2" asp-controller="Cart"
                                                    asp-action="AddOneToCart"
                                                    asp-route-id="@item.Value.Product.ProductId">
                                                        <i class="fas fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                                @if (@item.Value.Product.Discount > 0)
                                                {
                                                    <div class="col-md-9 col-lg-9 col-xl-9">
                                                        <h6 class="text-muted">Цена без скидки</h6>
                                                        <h6 class="text-black mb-0">@item.Value.Product.Price</h6>
                                                    </div>
                                                    <div class="col-md-9 col-lg-9 col-xl-9">
                                                        <h6 class="text-muted">Цена со скидкой</h6>
                                                        <h6 class="text-black mb-0">
                                                            @item.Value.Product.DiscountedPrice.ToString("N2")</h6>
                                                    </div>
                                                }
                                                @if (@item.Value.Product.Discount == 0)
                                                {
                                                    @item.Value.Product.Price
                                                }
                                            </div>

                                            <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                                <a asp-controller="Cart" asp-action="Delete"
                                                asp-route-id="@item.Value.Product.ProductId" class="text-muted"><i
                                                    class="fas fa-times"></i></a>
                                            </div>
                                        </div>

                                        <hr class="my-4">
                                    }


                                    <div class="pt-5">
                                        <h6 class="mb-0"><a asp-controller="Categories" asp-action="Index"
                                                class="text-body"><i class="fas fa-long-arrow-alt-left me-2"></i>В
                                                каталог</a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 bg-grey">
                                <div class="p-3">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item list-group-item-action">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">List group item heading</h5>
                                                <small>3 days ago</small>
                                            </div>
                                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas
                                                sed diam eget risus
                                                varius blandit.</p>
                                            <small>Donec id elit non mi porta.</small>
                                        </a>
                                        <a href="#" class="list-group-item list-group-item-action">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">List group item heading</h5>
                                                <small class="text-muted">3 days ago</small>
                                            </div>
                                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas
                                                sed diam eget risus
                                                varius blandit.</p>
                                            <small class="text-muted">Donec id elit non mi porta.</small>
                                        </a>
                                        <a href="#" class="list-group-item list-group-item-action">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">List group item heading</h5>
                                                <small class="text-muted">3 days ago</small>
                                            </div>
                                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas
                                                sed diam eget risus
                                                varius blandit.</p>
                                            <small class="text-muted">Donec id elit non mi porta.</small>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<section class="h-50">
    <div class="container py-10 h-50">
        <div class="row d-flex align-items-left h-100">


        </div>
</section>
