@model Product

<div class="prod-card">
    <div class="prod-thumb">
        <a href="#"><img src="~/Images/Products/@Model.Image" alt=""></a>
    </div>
    <div class="prod-details">
        <h4><a href="#">@Model.Name</a></h4>
        <p>@Model.Description</p>
    </div>
    <div class="prod-bottom-details d-flex justify-content-between">
        <div class="prod-price">
            @Model.Price
        </div>
        <div class="prod-links">
            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
    </div>
</div>


@* @model ProductCatalogViewModel

    @{
    List<string> brandsList = Model.Products.Select(b => b.Brand).Distinct().ToList();
    }

    <form asp-controller="Product" asp-action="Index" method="get">
    <p>
    @for (int i = 0; i < brandsList.Count(); i++)
    {
    <div class="form-check">
    <input class="form-check-input" name="brand" type="checkbox" id="labelBr_@i" value="@brandsList[@i]">
    <label class="form-check-label" for="labelBr_@i">@brandsList[@i]</label>
    </div>
    }

    <button type="submit" asp-for="SearchString" class="btn btn-primary">Показать</button>
    </p>
    </form> *@
