@model Product

@{
    var discountSum = @Model.Price / 1 * @Model.Discount;
    var discountedPrice = @Model.Price - discountSum;
}

<div class="prod-card">
    <a asp-controller="Product" asp-action="Index" asp-route-id="@Model.ProductId">
        <img src="~/Images/Products/@Model.Image" class="card-img-top " alt="@Model.Image">
    </a>
    <div class="prod-details">
        <h4><a asp-controller="Product" asp-action="Index" asp-route-id="@Model.ProductId">@Model.Name</a></h4>
        <p>@Model.Description</p>

        <div class="prod-bottom-details d-flex justify-content-between">
            <div class="prod-price">
                @if (@Model.Discount > 0)
                {
                    <small>@Model.Price</small> @discountedPrice.ToString("N2")
                }
                @if (@Model.Discount == 0)
                {
                    @Model.Price
                }

            </div>
            <div class="prod-links">
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
    </div>
</div>
