@model Product

@{
    var request = ViewContext.HttpContext.Request;
    var returnUrl = request.Path + request.QueryString.ToUriComponent();
}

<div class="prod-card ">
    <a asp-controller="Product" asp-action="Index" asp-route-id="@Model.ProductId">
        <img src="~/Images/Products/@Model.Image" class="card-img-top " alt="@Model.Image">
    </a>
    <div class="prod-details">
        <h4><a asp-controller="Product" asp-action="Index" asp-route-id="@Model.ProductId">@Model.Name</a></h4>
        <p>@Model.Description</p>

        <div class="prod-bottom-details d-flex justify-content-between">
            <div class="prod-price">
                @if (@Model.Discount > 0)
                {
                    <small>@Model.Price</small> @Model.DiscountedPrice.ToString("N2")
                }
                @if (@Model.Discount == 0)
                {
                    @Model.Price
                }

            </div>
            <div class="prod-links">
                <a asp-controller="Cart" asp-action="Add" asp-route-id="@Model.ProductId"
                    asp-route-returnUrl="@returnUrl" class="btn btn-primary btn-rounded">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
            </div>
        </div>
    </div>
</div>
